aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
appnope==0.1.2
async-timeout==3.0.1
attrs==21.2.0
avro-python3==1.10.0
backcall==0.2.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
colorlog==5.0.1
confluent-kafka==1.7.0
croniter==1.0.13
decorator==5.0.9
Faker==8.4.0
fastavro==1.4.1
faust==1.10.4
idna==2.10
ipython==7.24.0
ipython-genutils==0.2.0
jedi==0.18.0
kafka-python==1.4.7
matplotlib-inline==0.1.2
mode==4.3.2
multidict==5.1.0
mypy-extensions==0.4.3
opentracing==1.3.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
psycopg2==2.8.6
ptyprocess==0.7.0
Pygments==2.9.0
python-dateutil==2.8.1
python-dotenv==0.17.1
requests==2.25.1
robinhood-aiokafka==1.1.6
six==1.16.0
terminaltables==3.1.0
text-unidecode==1.3
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.5
venusian==1.2.0
wcwidth==0.2.5
yarl==1.6.3
